#main {
  height: 100vh;
  width: 100vw;
  background-color: gray;
}
#outline {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* border-radius: 20px; */

#login {
  height: 400px;
  width: 400px;
  background-color: aliceblue;
  display: flex;
  /* align-items: center;
  justify-items: center; */
  flex-direction: column;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#bgimage {
  background-image: url(../Images/bg\ image.jpg);
  height: 400px;
  width: 400px;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
